body{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

header h1{
    text-transform: uppercase;
    font-size: 90px;
    font-weight: bold;
    text-align: center;
}

 h2{
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bold; 
    margin-bottom: 10px;
    margin-top: 20px;
}

main{
    
    margin: auto;
 
}

p{
    padding: 100px 0;
    width: 700px;
    padding-left: 20px;

}

.carreira h2,.introducao h2,.influencias h2,.legado h2{
    text-align: center;
}








.parallax-1{
    display: flex;
    height: 100vh !important;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(IMG/aurora1.jpg);
}

.parallax-1::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgb(0,0,0,0) 0, rgb(0,0,0,0) 40%, #000 100%);
}

.parallax-2{
    display: flex;
    height: 100vh !important;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(IMG/aurora2.jpg);
}

.parallax-2::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgb(0,0,0,0) 0, rgb(0,0,0,0) 40%, #000 100%);
}

.parallax-3{
    display: flex;
    height: 100vh !important;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(IMG/aurora3.jpg);
}
.parallax-3::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgb(0,0,0,0) 0, rgb(0,0,0,0) 40%, #000 100%);
}

.parallax-4{
    display: flex;
    height: 100vh !important;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(IMG/aurora4.png);
}
.parallax-4::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgb(0,0,0,0) 0, rgb(0,0,0,0) 40%, #000 100%);
}

